<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aisino.frems.modules.system.dao.SysDictItemMapper">
    <select id="queryDictKeyByText" parameterType="String" resultType="com.aisino.frems.modules.system.entity.SysDictItem">
        select * from sys_dict_item item
        LEFT JOIN sys_dict dict  on (dict.id = item.dict_id)
        where dict.dict_code = #{dictCode,jdbcType=VARCHAR}
        and item.item_text = #{itemText,jdbcType=VARCHAR}
    </select>
</mapper>
